<!-- <section class="convert-section">
  <input type="text" [(ngModel)]="inpText" name="inpText" />
  <p class="alert" [hidden]="inpText != '' && isNumeric(inpText)">
    Number should be numeric
  </p>
  <p class="alert" [hidden]="!isLimit(inpText)">Limit Exceeded</p>
  <p [hidden]="!(inpText != '' && isNumeric(inpText)) || isLimit(inpText)">
    {{ inpText | digitConverter }}
  </p>
</section> -->
<h1>{{ title }}</h1>
<section class="convert-section">
  <input
    type="text"
    [(ngModel)]="inpText"
    name="inpText"
    placeholder="Enter a Number"
    #inpTag="ngModel"
    required
  />
  <button
    type="button"
    (click)="convert()"
    [disabled]="!(inpText != '' && isNumeric(inpText) && !isLimit(inpText))"
  >
    Convert
  </button>
  <p [hidden]="inpTag.pristine || isNumeric(inpText)">
    Number should be numeric
  </p>
  <p [hidden]="!isLimit(inpText)">Limit Exceeded or Subseeded</p>
</section>
<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <h4>Answer</h4>
    <p>{{ inpText | digitConverter }}</p>
    <button type="button" (click)="onClose()">Close</button>
  </div>
</div>
