* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.convert-section {
  padding: 50px;
  margin: 100px auto;
  width: 100%;
  height: 240px;
  background-color: rgb(255, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: navy;
    color: white;
  }
  button:hover {
    background-color: rgb(0, 0, 255);
  }
  input {
    width: 60%;
    height: 30px;
    font-size: 20px;
  }

  p {
    font-size: 30px;
    color: white;
    margin-top: 20px;
  }
}

.popup {
  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 600px;
    height: 200px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
}

.popup.active {
  .overlay {
    display: block;
  }
  .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }
}

.content {
  h4 {
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(9, 105, 105);
    color: #fff;
  }
  button:hover {
    background-color: rgb(14, 165, 165);
  }
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  font-style: oblique;
  color: navy;
}
